@font-face {
    font-family: start2P;
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: atkinson;
    src: url(../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf);
}


img { /*makes pixel art img (all imgs) be crisp*/
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
body 
{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*/////////////////Light Box/////////////////*/
#lbBack{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;

    width: 100vw;
    height: 100vh;

    background :rgba(255, 255, 255, 0.312);

    display : flex;
    justify-content : center;
    align-items : center;
}

#lbBox{
    width: 600px;
    height: 300px;

    background-color:#BEBFA8;

    border :#6f7959 8px solid;
    position :relative;

}

#lbCloseButton{
    position: absolute;
    top : 15px;
    right: 15px;
    cursor:pointer;
    
}
#lbCloseButton img{
    width: 40px;
    height: 40px;
}

#lbText{
    font-family: start2P;
    padding:30px;
    color:#1D3024;
}
#lbText h1{
    padding-bottom: 10px;
}
#lbText p{
    font-size: 16px;
}

/*/////////////////HEADER/////////////////*/
#headerBack{
    height: 10vw;
    background-color: #BEBFA8;
    display: flex;
    align-items: center;
}
#headerMain{
    width: 100vw;
    background-color: #94A177;
    height: 8vw;
    display:flex; 
    align-items: center;
    justify-content: center;
}
#title{
    font-size:4vw;
    font-family: start2P;
    color:#1D3024;
}
#PSI{
    color:#F00060;

}

#title a:link{
    text-decoration: none;
    color:#1D3024;
}
#title a:visited{
    text-decoration: none;
    color:#1D3024;
}
/*/////////////////HERO/////////////////*/
#heroBG{
    height:768px;
    background-color: rgba(42, 140, 76,.95);
    display:flex;
    justify-content: center;
}
#pixelBG{
    background : url(../images/pixelBG2.png) no-repeat center center fixed;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size: cover;
}
.icon{
    width: 4vw;
    height:auto;
}
#firstIcons{
    display:flex;
    flex-direction: column;  
    justify-content: space-around;
    margin-right: 10.24px;
}
#secondIcons{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10.24px;
    
}
#heroMain{
    height:768px;
    background-color: #1BBF54;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}
#butter1{
    position:absolute;
    width:4.8vw;
    height:auto;
    right:6.4vw;
    top:40vw;
}
#butter2{
    position:absolute;
    width:4.8vw;
    height:auto;
    left:160px;
    top:20.48px;
}
#gift{
    position:absolute;
    width:5.6vw;
    height:auto;
    top: 4vw;
    right:4vw;
}
#quote{
    margin-left: 120px;
    margin-top: 51.2px;
    font-size: 28px;
    color:#1D3024;
    font-family: start2P;
    width:528.384px;
    height:225.28px;
}
#quote span{
    font-size:36px;
}
#tree3{
    width:400px;
    height:auto;
    margin-top: 0;
    position: absolute;
    bottom: 71.68px;

}
#tree4{
    width: 560px;
    height: auto;
    position: absolute;
    bottom: 0;
}
#heroButtons{
    margin-bottom: 20.48px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#firstRowButtons{
    width: 320px;
    display:flex;
    flex-direction: row;
    font-size: 71.68px;
    font-family: start2P;
    justify-content: center;
    align-items: center;
}
#secondRowButtons{
    width: 320px;
    display:flex;
    margin-top: 7.168px;
    flex-direction: row;
    font-size: 71.68px;
    font-family: start2P;
    justify-content: center;
}
.buttonContainer{
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: 10.24px;
}
.buttonText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20.48px;
    text-shadow: 0px 0px 3.552px rgba(0, 0, 0, 0.5);
}
#nessLink:link{
    color:#6C6BE3;
}

#paulaLink:link{
    color:#FFADF4;
}

#jeffLink:link{
    color:#1BBF54;
}
#pooLink:link{
    color:#E7E7E7;
}
.buttonContainer:hover .buttonText{
    color: white;
}
.buttonText:hover{
    color: white;
}
#nessLink:visited {
    color:#6C6BE3;
}
#paulaLink:visited {
    color:#FFADF4;;
}
#jeffLink:visited {
    color:#1BBF54;
}
#pooLink:visited {
    color:#E7E7E7;
}
.buttonContainer a img{
    width:153.6px;
    height:76.8px;
}

/*////////////////Transition//////////////////*/
#transBack{
    height:609.28px;
    background-color: #BEBFA8;
    display:block;
    display:flex;
    align-items: center;
}
#transMain{
    width: 100vw;
    height:573.44px;
    background-color: #94A177;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#menuScrn{
    margin-top: 35.84px;
    width:537.6px;
    height: 358.4px;
    background-color: #6f7959;
    border-radius: 2%;
    padding-top: 43.008px;
    text-align:center;
}
#menuScrn #menuWords
{
    font-family: start2P;
    font-size: 28.672px;
    line-height: 57.344px;
    color: white;
    text-shadow: 1.12px 1.12px 2.24px rgba(0,0,0,0.3);
}
#transButton{
    margin-top: 21.504px;
    position: relative;
    text-align: center;
    color:#BEBFA8;
}
#yes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: start2P;
    font-size: 21.504px;
}
#charArchiveBanner{
    display:flex;
    flex-direction: row;
    font-family: start2P;
    font-size: 21.504px;  
    margin-top: 35.84px;
    color: #1D3024;
    align-items: center;
    justify-content: center;
}
#transButton a img{
    width:143.36px;
    height:71.68px;
}
#charArchiveBanner img{
    width:57.344px;
    height:57.344px;
}
#transButton a:link{
    color:#BEBFA8;
}
#transButton a:visited{
    color:#BEBFA8;
}
#transButton a:hover{
    color:white;
}




/*////////////////Ness//////////////////*/
#nessBack{
    overflow-x:auto; 
    overflow-y: hidden;
    background-color: rgba(108, 107, 227,0.9);
    height:860.16px;
    display:flex;
    justify-content: center;  
}

#nessMain{
    background-color: rgba(150, 0, 60, .74);
    width:auto;
    height:860.16px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#nessCol1{
    margin-left:50px;
    flex-direction: column;
    display: flex;
}

#nessCol2{
    flex-direction: column;
    display: flex;
}

#nessNameTag{
    margin-top: 28.672px;
    width: 143.36px; 
    height: 46.592px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-color: #F00060;
}

#nessNameTag div{
    font-family: start2P;
    font-size: 28.672px;
    color:white;
}


#nessText1{
    margin-top: 35.84px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width: 250.88px;
    height:200.704px;
}

#phone{
    width:121.856px;
    height:auto;
    margin-top: 29.6016px;
    margin-left:71.68px;
}   



#nessIMG{
    width: 215.04px;
    height:236.544px;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color:#6C6BE3;
    margin-left: 43.008px;
    margin-top: 28.672px;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

#nessMap{
    margin-top: 121.856px;
    width: 250.88px;
    height: auto;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color: #F00060;
    border-radius: 2%;
}

#nessText2{
    margin-top: 32.256px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width: 250.88px;
    height:200.704px;
    margin-left: 43.008px;
}

#nessBottomIcon{
    width:623.616px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#nessBottomIcon img{
    width:322.56px;
    height: auto;
}

#nessArch{
    width: 179.2px;
    height:auto;
    position: absolute;
}
#nessHeyDiv, #paulaHeyDiv,#jeffHeyDiv, #pooHeyDiv{
    position : absolute;
    top : -70px;
    right: -20px;
    display:none;
}

#nessHeyDiv p, #paulaHeyDiv p,#jeffHeyDiv p, #pooHeyDiv p {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -170%);
    font-family: start2P;
    font-size:20px;
}

#nesshey, #paulahey, #jeffhey, #poohey{
    width: 180px;
    height: 90px;
}



/*////////////////Paula//////////////////*/
#paulaBack{
    overflow-x: auto; 
    overflow-y: hidden;
    background-color: rgba(255, 173, 244,0.9);
    height:860.16px;
    display:flex;
    justify-content:center;
}

#paulaMain{
    background-color: rgba(231, 0, 82, .53);
    width:auto;
    height:860.16px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#paulaCol1
{
    margin-left:50px;
    flex-direction: column;
    display: flex;
}

#paulaCol2
{
    flex-direction: column;
    display: flex;
}

#paulaNameTag{
    margin-top: 28.672px;
    width:164.864px;
    height: 46.592px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-color: #F00060;
}

#paulaNameTag div{
    font-family: start2P;
    font-size: 28.672px;
    color:white;
}

#paulaText1{
    margin-top: 35.84px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width:250.88px;
    height:286.72px;
}

#teddy{
    width:121.856px;
    height:auto;
    margin-top: 29.6016px;
    margin-left:71.68px;
}   

#paulaIMG{
    width: 215.04px;
    height: 236.544px;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color: rgb(255, 173, 244);
    margin-left: 43.008px;
    margin-top: 28.672px;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#paulaMap{
    margin-top: 121.856px;
    width: 250.88px;
    height: auto;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color: #F00060;
    border-radius: 2%;
}

#paulaText2{
    margin-top: 32.256px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width: 250.88px;
    height:200.704px;
    margin-left: 43.008px;
}

#paulaBottomIcon{
    width:623.616px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

#paulaArch{
    width:157.696px;
    height:auto;
    position: absolute;
}

#PKfire{
    width:50.176px;
    height:auto;
}
#PKthunder{
    width:50.176px;
    height:auto;
    margin-left:35.84px;
}
#PKfreeze{
    width:71.68px;
    height:auto;
}


/*////////////////jeff//////////////////*/
#jeffBack{
    overflow-x: auto; 
    overflow-y: hidden;
    background-color: rgba(231, 214, 33,0.9);
    height:860.16px;
    display:flex;
    justify-content: center;
}

#jeffMain{
    background-color: rgba(60, 88, 74, 0.935);
    width:auto;
    height:860.16px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#jeffCol1
{
    margin-left:50px;
    flex-direction: column;
    display: flex;
}

#jeffCol2
{
    flex-direction: column;
    display: flex;
}

#jeffNameTag{
    margin-top: 28.672px;
    width:143.36px;
    height: 46.592px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-color: #8B6F4E;
}

#jeffNameTag div{
    font-family: start2P;
    font-size: 28.672px;
    color:white;
}

#jeffText1{
    margin-top: 35.84px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width:250.88px;
    height:258.048px;
}

#monkey{
    width:121.856px;
    height:auto;
    margin-top: 29.6016px;
    margin-left:71.68px;
}   

#jeffIMG{
    width: 215.04px;
    height: 236.544px;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color: #E7D621;
    margin-left: 43.008px;
    margin-top: 28.672px;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#jeffMap{
    margin-top: 121.856px;
    width: 250.88px;
    height: auto;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color: #F00060;
    border-radius: 2%;
}

#jeffText2{
    margin-top: 32.256px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width:250.88px;
    height:179.2px;
    margin-left: 43.008px;
}

#jeffBottomIcon{
    width:623.616px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#andonutsBox{
    width:229.376px;
    height: 50.176px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-color: #8B6F4E;
}
#andonutsBox p{
    margin-left:7.168px;
    font-family: atkinson;
    color:white;
    font-size: 10.752px;

}

#jeffArch{
    width:157.696px;
    height:auto;
}

#jeffBottomIcon img{
    width: 71.68px;
    height:auto;
    position: absolute;
}


/*////////////////Poo//////////////////*/
#pooBack{
    overflow-x: auto; 
    overflow-y: hidden;
    background-color: rgba(231, 231, 231,0.9);
    height:860.16px;
    display:flex;
    justify-content: center;
}

#pooMain{
    background-color: rgba(51, 34, 34, 0.7);
    width:auto;
    height:860.16px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#pooCol1
{
    margin-left:50px;
    flex-direction: column;
    display: flex;
}

#pooCol2
{
    flex-direction: column;
    display: flex;
}

#pooNameTag{
    margin-top: 28.672px;
    width:143.36px;
    height: 46.592px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-color: #332222;
}

#pooNameTag div{
    font-family: start2P;
    font-size: 28.672px;
    color:white;
}

#pooText1{
    margin-top: 35.84px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width:250.88px;
    height:537.6px;
}

#statue{
    width:93.184px;
    height:auto;
    margin-top: 29.6016px;
    margin-left:107.52px;
}   

#pooIMG{
    width: 215.04px;
    height: 236.544px;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color: rgb(231, 231, 231);
    margin-left: 43.008px;
    margin-top: 28.672px;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#pooMap{
    width: 250.88px;
    height: auto;
    border-style: solid;
    border-color:  white;
    border-width: 7.168px;
    background-color: #F00060;
    border-radius: 2%;
}

#pooText2{
    margin-top: 32.256px;
    font-family: atkinson;
    font-size: 10.752px;
    color: white;
    width:250.88px;
    height:143.36px;
    margin-left: 43.008px;
}

#pooBottomIcon{
    width:623.616px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#pooBottomIcon img{ 
    width:121.856px;
    height: auto;
    margin-left: 286.72px;
    margin-top:-215.04px;
}

#pooArch{
    width:164.864px;
    height:auto;
    position: absolute;
}


/*////////////////footers//////////////////*/
#footerBack{
    height:60vw;
    background-color: #BEBFA8;
    display:flex;
    align-items: center;
    justify-content: center;
}

#footerMain{
    width:100vw;
    height:52.5vw;
    background-color: #94A177;
    display:flex;
}

#legalText{
    font-family: start2P;
    font-size: 2.25vw;
    margin-left: 5vw;
    width:60vw;
    height:22.5vw;
    color:#1D3024;
    margin-top: 7.5vw;
}
#learnMore{
    color:#1D3024;
    font-family: start2P;
    font-size: 2.25vw;
    margin-top: 7.5vw;
    margin-left: 5vw;

    display:flex;
    flex-direction: column;
}

#learnIcons img{
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    width:7.5vw;
    height:auto;
    text-decoration: none;
}

#column2{
    margin-left: 5vw;
}

#siteLinks{
    margin-top: 7.5vw;
    color:#1D3024;
    font-family: start2P;
    font-size: 2.25vw;
}

nav ul{
    font-size: 2.25vw;
    font-family: start2P;
    list-style: none;
    padding : 0px;
    margin : 0px;
    margin-top: 3vw;
    text-align: center;
    line-height: 6vw;
}


nav ul a:link{
    text-decoration: none;
    color: #545353;
}

nav ul a:visited{
    text-decoration: none;
    color: #545353;
}

nav ul a:hover{
    text-decoration: none;
    color: white;
}
#toTop img{
    width: 2vw;
    height: auto;
}

#toTop {
    width: 2vw;
    height: 4vw;
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10%;
}

/*///////////////ABOUT/////////////////*/
#aboutBack{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c3e39;
}

#aboutTag{
    margin-top:38.4px;
    width:175px;
    height:70px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #1D3024;
    border: solid;
    border-width: 8.96px;
    border-color: #94A177;
    border-radius: 2%;
}
#aboutTagText{
    font-family: start2P;
    font-size: 25px;
    color:white;
}

/*///////////////NessAbout/////////////*/
#nessAbout{
    margin-top: 89.6px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#nessTalkIMG{
    width:102.4px;
    height:auto;
    margin-left: 10px;
}
#nessDialog{
    margin-left: 15px;
}
#nessDialogBox{
    position:relative;
    margin-top:38.4px;
    width:832px;
    height:auto;
    display:flex;
    align-items: center;
    background-color: #1D3024;
    border: solid;
    border-width: 8.96px;
    border-color: #94A177;
    border-radius: 2%;
}
#nessDialogText{
    margin-top: 5px;
    margin-left: 8px;
    font-family: start2P;
    font-size: 14px;
    color:white;
    line-height: 24.32px;
}
#nessDialogTag{
    position:absolute;
    top: -51.2px;
    width:128px;
    height: 51.2px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #94A177;
}
#nessDialogTag div{
    margin-left: 12.8px;
    font-size: 25.6px;
    font-family: start2P;
    color: #1D3024;
}

/*///////////////paulaAbout/////////////*/
#paulaAbout{
    margin-top: 89.6px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#paulaTalkIMG{
    width:102.4px;
    height:auto;
    margin-left: 10px;
}
#paulaDialog{
    margin-left: 15px;
}
#paulaDialogBox{
    margin-top:38.4px;
    width:832px;
    height:auto;
    display:flex;
    align-items: center;
    background-color: #1D3024;
    border: solid;
    border-width: 8.96px;
    border-color: #94A177;
    border-radius: 2%;
    position:relative;
}
#paulaDialogText{
    margin-top: 5px;
    margin-left: 12.8px;
    font-family: start2P;
    font-size: 14px;
    color:white;
    line-height: 24.32px;
}
#paulaDialogTag{
    position:absolute;
    top: -51.2px;
    width:153.6px;
    height: 51.2px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #94A177;
}
#paulaDialogTag div{
    margin-left: 12.8px;
    font-size: 25.6px;
    font-family: start2P;
    color: #1D3024;
}

/*///////////////jeffAbout/////////////*/
#jeffAbout{
    margin-top: 89.6px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#jeffTalkIMG{
    width:102.4px;
    height:auto;
    margin-left: 10px;
}
#jeffDialog{
    margin-left: 15px;
}
#jeffDialogBox{
    position: relative;
    margin-top:38.4px;
    width:832px;
    height:auto;
    display:flex;
    align-items: center;
    background-color: #1D3024;
    border: solid;
    border-width: 8.96px;
    border-color: #94A177;
    border-radius: 2%;
}
#jeffDialogText{
    margin-top: 5px;
    margin-left: 12.8px;
    font-family: start2P;
    font-size: 14px;
    color:white;
    line-height: 24.32px;
}
#jeffDialogTag{
    position:absolute;
    top: -51.2px;
    width:128px;
    height: 51.2px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #94A177;
}
#jeffDialogTag div{
    margin-left: 12.8px;
    font-size: 25.6px;
    font-family: start2P;
    color: #1D3024;
}

/*///////////////pooAbout/////////////*/
#pooAbout{
    margin-top: 89.6px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#pooTalkIMG{
    width:102.4px;
    height:auto;
    margin-left: 10px;
}
#pooDialog{
    margin-left: 15px;
}
#pooDialogBox{
    position:relative;
    margin-top:38.4px;
    width:832px;
    height:auto;
    display:flex;
    align-items: center;
    background-color: #1D3024;
    border: solid;
    border-width: 8.96px;
    border-color: #94A177;
    border-radius: 2%;
    margin-bottom: 64px;
}
#pooDialogText{
    margin-top: 5px;
    margin-left: 12.8px;
    font-family: start2P;
    font-size: 14px;
    color:white;
    line-height: 24.32px;
}
#pooDialogTag{
    position:absolute;
    top: -51.2px;
    width:102.4px;
    height: 51.2px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #94A177;
}
#pooDialogTag div{
    margin-left: 12.8px;
    font-size: 25.6px;
    font-family: start2P;
    color: #1D3024;
}

#nessDialogBox, #paulaDialogBox, #jeffDialogBox, #pooDialogBox{
    width: 90%;
}

/*//////////////////PSI//////////////////////*/
#PSIbackNess{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 85, 117);
}
#PSIbackPaula{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(117, 78, 114);;
}
#PSIbackJeff{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(107, 117, 78);;
}
#PSIbackPoo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(67, 70, 87);
}
#descriptionNess,#descriptionPaula,#descriptionJeff,#descriptionPoo{
    margin-top:32px;
    font-family: start2P;
    font-size:20px;
    margin-bottom: 32px;
    text-align: center;
}
#descriptionNess{
    color:#c6c6df;
}
#descriptionPaula{
    color:#FFADF4;
}
#descriptionJeff{
    color:#1BBF54;
}
#descriptionPoo{
    color:#c6c6df;
}

#jeffPSIbox{
    text-align: center;
    height:300px;
    margin-top:32px;
    font-family: start2P;
    font-size:15px;
    color:white;
}
.titles{
    text-align: center;
    margin-top:32px;
    font-family: start2P;
    font-size:15px;
    color:white;
}

.PSIback table{
    margin-top: 32px;
    margin-bottom: 32px;
    border:solid;
    width: 90%
}

.PSIback table{
    background-color: #1D3024;
}

.PSIback th,td{
    border:solid 2px black;
    background-color: #94A177;
    font-size: 16.64px;
    font-family:atkinson;
    
}
.PSIback th{
    background-color: #6f7959;
    color:white;
}